@model IEnumerable<SchoolWebApp.Models.Class>
<table id="ClassTable" class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Stage Name</th>
            <th>Stage No</th>
            <th>Class Name</th>
            <th>Sequence No</th>
            <th>Board</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@if (Model != null && Model.Any())
{
    var serial = 0;
    @foreach (var item in Model)
    {
        serial++;
        var tcc = "class-name-full-" + item.ClassID;
        <tr data-id="@item.ClassID">
            <td>@serial</td>
            <td>@item.ClassStage?.StageName</td>
            <td>@item.ClassStage?.StageNo</td>
            <td class="@tcc">@item.ClassName</td>
            <td>@item.SequenceNo</td>
          
            <td data-board-id="@item.BoardID">@item.Board?.BoardName</td>
            <td>@Html.Raw(PageHelpers.GetStatusBadge(item.Status))</td>
            <td class="text-nowrap">
                <div class="col-md-12">
                            <!-- Edit Button -->
                            <button class="btn btn-sm btn-icon edit-class-btn" onclick=" classEdit(@item.ClassID)" data-class-id="@item.ClassID">
                                <i class="ri-edit-box-line ri-20px"></i>
                            </button>
                            <div class="modal fade" id="editClassModal" tabindex="-1" aria-labelledby="editClassModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editClassModalLabel">Edit Class Details</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" id="editClassFormContainer">
                                            <!-- The _Edit.cshtml partial view will be loaded here dynamically -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                    <!-- Delete Button -->
                    <form method="post" id="deleteClassForm-@item.ClassID" class="d-inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@item.ClassID" />
                        <button type="button" class="btn btn-sm btn-icon" onclick="showDeleteConfirmation('@item.ClassID')">
                            <i class="ri-delete-bin-7-line ri-20px"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    }
}
</tbody>
    </table>