@model SchoolWebApp.Pages.Zone.IndexModel



       <div class="offcanvas-body mx-0 flex-grow-0">
    <form id="editZoneForm" method="post" enctype="multipart/form-data" data-id="@Model.Zone.ZoneID">
            <input type="hidden" name="Zone.ZoneID" value="@Model.Zone.ZoneID" />
            <input type="hidden" name="Zone.ZGUID" value="@Model.Zone.ZGUID" />
            <input type="hidden" name="Zone.CreatedDate" value="@Model.Zone.CreatedDate." />
            <input type="hidden" name="Zone.Status" value="@Model.Zone.Status" />
                    <div class="form-floating form-floating-outline mb-5">
                <select name="Zone.InstitutionID" id="editInstitutionID_@Model.Zone.ZoneID" class="form-control">
                            <option value="">Select Institution</option>
                            @foreach (var institution in Model.Institutions)
                            {
                        <option value="@institution.InstitutionID" selected="@(institution.InstitutionID == Model.Zone.InstitutionID)">@institution.InstitutionName</option>
                            }
                        </select>
                <label for="editInstitutionID_@Model.Zone.ZoneID">Institution</label>
                        <span class="text-danger" data-fv-for="Zone.InstitutionID"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-5">
                <input type="text" name="Zone.ZoneName" id="editZoneName_@Model.Zone.ZoneID" class="form-control" value="@Model.Zone.ZoneName" />
                <label for="editZoneName_@Model.Zone..ZoneID">Zone Name</label>
                        <span class="text-danger" data-fv-for="Zone.ZoneName"></span>
                    </div>
                    <div class="form-floating form-floating-outline mb-5">
                <input type="text" name="Zone.ShortCode" id="editShortCode_@Model.Zone..ZoneID" class="form-control" value="@Model.Zone.ShortCode" />
                <label for="editShortCode_@Model.Zone..ZoneID">Short Code</label>
                        <span class="text-danger" data-fv-for="Zone.ShortCode"></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                    <button type="submit" class="btn btn-primary me-3" id="submitEditZoneBtn_@Model.Zone..ZoneID">Save</button>
                            <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">Cancel</button>
                        </div>
                    </div>
        </form>
      </div>
       